@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Patua+One&family=Signika:wght@300&family=Varela+Round&display=swap");
h1 {
  font-family: "Crete Round", serif;
  font-weight: 100;
  padding-left: 0.5%;
}
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 100;

  width: 34%;
  margin-top: -9.85%;
  margin-left: 53%;
  font-size: 92%;
}
p {
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  font-family: "Signika", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue; 
}
.p1 {
  margin-top: -9%;
  margin-left: 47%;
}
.p2 {
  margin-top: -9.2%;
  margin-left: 47%;
}
